body{
    background-color: #153996;
    color: white;
    font-family: FS Albert Arabic, monospace;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none !important;
}
button:hover{
    cursor: pointer;
}
#logo-principal{
    width: 1000px;
    height: auto;
    max-width: 100%;
    align-items: center;
}
@media (max-width: 768px) {
    #logo-principal {
        width: 120px;
    }
}
#inicio{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#iniciar{
    display: block;
    margin: 10px;
    padding: 20px 20px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
}
button:hover{
    background-color: lightgray;
}

#menu{
    flex-direction: row;
}
#menu button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button:disabled{
    cursor: none;
}